<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <h1>Add a new Flat</h1>

      <%= simple_form_for @flat do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :number_of_guests %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
